@layer base {
  @font-face {
    font-family: 'Cal Sans';
    src: url('/fonts/cal-sans/cal-sans-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Cal Sans Fallback';
    font-style: normal;
    font-weight: 600;
    src: local('Arial Bold');
    ascent-override: 106.67%;
    descent-override: 21.33%;
    line-gap-override: 0%;
    size-adjust: 93.74%;
  }

  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('/fonts/jetbrains-mono/jetbrains-mono-extralight.woff2') format('woff2');
  }

  @font-face {
    font-family: 'JetBrains Mono Fallback';
    font-style: normal;
    font-weight: 200;
    src: local('Courier New');
    ascent-override: 102.02%;
    descent-override: 30%;
    line-gap-override: 0%;
    size-adjust: 99.98%;
  }
}
