@layer components {
  .sign-up-btn:hover {
    animation: sign-up-btn-color-change 1s;
    animation-fill-mode: forwards;
  }

  .sign-up-btn:hover .sign-up-btn-border {
    animation: sign-up-btn-border-flicker 1s;
    animation-fill-mode: forwards;
  }

  @keyframes sign-up-btn-color-change {
    0% {
      @apply text-white;
    }
    48% {
      @apply text-white;
    }
    to {
      @apply text-black;
    }
  }

  @keyframes sign-up-btn-border-flicker {
    0% {
      @apply opacity-100;
      fill: none;
    }
    8% {
      @apply opacity-50;
      fill: none;
    }
    16% {
      @apply opacity-100;
      fill: none;
    }
    24% {
      @apply opacity-50;
      fill: none;
    }
    32% {
      @apply opacity-100;
      fill: none;
    }
    40% {
      @apply opacity-50;
      fill: none;
    }
    48% {
      @apply opacity-100;
      fill: #fff;
    }
    to {
      @apply opacity-100;
      fill: #fff;
    }
  }
}
