.fab-btn{
    position: fixed;
    bottom: 80px;
    right: 60px;
    z-index: 999;
    border: 1px solid white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.fab-btn:hover span{
    display: block;
    animation: fab-animation 1.2s linear infinite;
}

.fab-btn:hover {
    background-color: white;
    color: black;
}

@keyframes fab-animation {
    50% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(0rem);
    }
}