@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply min-w-[320px] bg-black font-sans text-base leading-normal text-white antialiased;
    -webkit-tap-highlight-color: transparent;
  }
}

.coming-soon-animation span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.coming-soon-animation span:nth-child(2) {
  animation-delay: 0.2s;
}

.coming-soon-animation span:nth-child(3) {
  animation-delay: 0.4s;
}

[data-test-id='notification-bell'] > svg {
  color: white !important;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}
