@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Base */
@import './fonts.css';
@import './global.css';
@import './grid-gap.css';
@import './text-highlighting.css';

/* Components */
@import './container.css';
@import '../components/shared/cta-button/cta-button.css';

/* Utilities */
@import './remove-autocomplete-styles.css';
@import './safe-paddings.css';
@import './scrollbar-hidden.css';
